body {
  font-family: Arial;
  background: #f7f8f5;
  margin: 0;
  color: #2e2e2e;
}

.hero {
  background: #5f7f67;
  color: white;
  padding: 60px;
  text-align: center;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

.skills span {
  display: inline-block;
  background: white;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 20px;
}

footer {
  background: #2e2e2e;
  color: white;
  text-align: center;
  padding: 15px;
}
